body {
    margin: 0;
    padding: 0;
    background: #EAECEE;
    box-sizing: border-box;
    overflow-x: hidden;
    cursor: url('../img/punteroAzul.png'), auto;
}

/*Header*/

.header{
    z-index: 2;
    background: #EAECEE;
    width: 100vw;
    font-family: "Glory", serif; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    font-size: 18px;
}

.header .fecha{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .fecha i{
    margin-left: 15px;
    color: #1E3A59;
}
.header .fecha p{
    font-weight: lighter;
    margin-left: 15px;
}

.header .centro{
    margin-top: 10px;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1E3A59;
}
.header .centro .circulo{
    margin-top: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #1E3A59;;
    animation: bounceInUp;
    animation-duration: 2s;
}

.header .centro i{
    margin-top: 5px;
    color: #1E3A59;
    animation: bounce;
    animation-duration: 1s;
    animation-delay: 0.9s;
}

.header .centro p{
    margin-top: 5px;
    color: #436fa0;
    animation: zoomInDown;
    animation-duration: 3.3s;
}

.header .busqueda{
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E3A59;
}
.header .busqueda p{
    margin-left: 10px;
    font-weight: lighter;
}
/*Navbar*/

nav{
    z-index: 100;
    position: fixed;
    top: 45%;
    right: 30px;
    cursor: url('../img/mano.png'), auto;
    transform: rotate(-45deg);
    animation: backInRight;
    animation-duration: 1s;
    transition: all 1s;
}

nav .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content .toggle-btn,
.nav-content span a{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 1s;
    cursor: url('../img/mano.png'), auto;
}

.nav-content .toggle-btn{
    font-size: 30px;
    z-index: 101;
    cursor: url('../img/mano.png'), auto;
    transform: rotate(45deg);
    background: linear-gradient(to left, #1A284B, #233D80);
    color: white;
}

nav.open .nav-content .toggle-btn{
    transform: rotate(135deg);
}

nav.open .nav-content span{
    transition: all 1s;
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(100px);
}

.nav-content span{
    transition: all 1s;
    position: absolute;
}

.nav-content span a{
    text-decoration: none;
    transform: rotate(45deg);
}

.nav-content span a i{
    color: #1A284B;
    font-size: 24px;
    transform: rotate(calc(var(--i) * (360deg/-8)))
}

.nav-content span a img{
    width: 32px;
    transform: rotate(calc(var(--i) * (360deg/-8)))
}

.nav-content span:nth-child(1),
.nav-content span:nth-child(2),
.nav-content span:nth-child(3),
.nav-content span:nth-child(5),
.nav-content span:nth-child(6){
    border-radius: 50%;
    background: #fff;
}

.nav-content span:nth-child(4){
    border-radius: 50%;
    background: linear-gradient(to left, #1A284B, #233D80);
}