body {
    margin: 0;
    padding: 0;
    background: #EAECEE;
    box-sizing: border-box;
    overflow-x: hidden;
    cursor: url('./img/punteroAzul.png'), auto;
}

/*Header*/

.header{
    z-index: 2;
    background: #EAECEE;
    width: 100%;
    font-family: "Glory", serif; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    font-size: 18px;
}

.header .data{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Glory", serif; 
    font-weight: 100;
    gap: 5px;
}
.header .data .ico{
    margin-left: 7px;
    margin-right: 7px;
    color: #1E3A59;
}
.header .tada p{
    font-weight: lighter;
    margin-left: 15px;
}

.header .centro{
    margin-top: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1E3A59;
}
.header .centro .circulo{
    margin-top: 5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #1E3A59;;
    animation: bounceInUp;
    animation-duration: 2s;
}

.header .centro i{
    margin-top: 5px;
    color: #1E3A59;
    animation: bounce;
    animation-duration: 1s;
    animation-delay: 0.9s;
}

.header .centro p{
    margin-top: 5px;
    color: #436fa0;
    animation: zoomInDown;
    animation-duration: 3.3s;
}

.header .busqueda{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E3A59;
}
.header .busqueda p{
    margin-left: 10px;
    font-weight: lighter;
}
/*Navbar*/

nav{
    z-index: 100;
    position: fixed;
    top: 45%;
    right: 30px;
    cursor: url('./img/mano.png'), auto;
    transform: rotate(-45deg);
    animation: backInRight;
    animation-duration: 1s;
    transition: all 1s;
}

nav .nav-content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-content .toggle-btn,
.nav-content span a{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 1s;
    cursor: url('./img/mano.png'), auto;
}

.nav-content .toggle-btn{
    font-size: 30px;
    z-index: 101;
    cursor: url('./img/mano.png'), auto;
    transform: rotate(45deg);
    background: #212329;
    color: white;
}

nav.open .nav-content .toggle-btn{
    transform: rotate(-45deg);
}

nav.open .nav-content span{
    transition: all 1s;
    transform: rotate(calc(var(--i) * (360deg/8))) translateY(100px);
}

.nav-content span{
    transition: all 1s;
    position: absolute;
}

.nav-content span a{
    text-decoration: none;
    transform: rotate(45deg);
}

.nav-content span a i{
    color: #1A284B;
    font-size: 24px;
    transform: rotate(calc(var(--i) * (360deg/-8)))
}

.nav-content span a img{
    width: 32px;
    transform: rotate(calc(var(--i) * (360deg/-8)))
}

.nav-content span:nth-child(1),
.nav-content span:nth-child(2),
.nav-content span:nth-child(3),
.nav-content span:nth-child(5),
.nav-content span:nth-child(6){
    border-radius: 50%;
    background: #fff;
}

.nav-content span:nth-child(4){
    border-radius: 50%;
    background: linear-gradient(to left, #1A284B, #233D80);
}

/*Logo*/

.wrapped {
    width: 100%;
    min-height: 100vh; /* Asegura que ocupe al menos toda la pantalla */
    display: flex;
    flex-direction: column; /* Acomoda los elementos en columna */
    align-items: center;
    justify-content: center; /* Centra verticalmente */
    gap: 20px; /* Espaciado entre elementos */
    position: relative; /* Permite posicionar elementos internos sin salir del flujo */
}
  
.logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaciado entre el logo y el texto */
}
  
.logo img {
    height: 10vw;
    min-height: 100px;
    filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
    margin-right: -22px;
}
  
h2 {
    font-family: "Hammersmith One", serif;
    font-size: 5vw;
    font-weight: normal;
    color: black;
    text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.39);
    margin: 0;
    animation: bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
} 
.box {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 20px;
    position: absolute; /* Permite animaciones relativas */
}
  
.box div {
    position: absolute;
    width: 4vw;
    height: 4vw;
    background: transparent;
    border: 4px solid black;
    rotate: 45deg;
}
  
.box div:nth-child(1){
    top: 12%;
    left: 62%;
    scale: 70%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 80%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(3){
    top: 25%;
    left: 11%;
    scale: 90%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(4){
    top: 68%;
    left: 32%;
    scale: 50%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 55%;
    left: 22%;
    width: 3vw;
    height: 1px;
    background: black;
    border: 1px solid black;
    transform: rotate(80deg);
}

.box div:nth-child(6){
    bottom: 15%;
    left: 50%;
    width: 5vw;
    height: 1px;
    background: black;
    border: 1px solid black;
    transform: rotate(120deg);
}

.box div:nth-child(7){
    top: 27%;
    right: 10%;
    width: 4.2vw;
    height: 1px;
    background: black;
    border: 1px solid black;
    transform: rotate(20deg);
}

  
@keyframes animate {
    0% {
      transform: scale(0) translateY(0) rotate(0);
      opacity: 1;
    }
    75%{
        opacity: 1;
    }
    100% {
      transform: scale(1.3) translateY(-3px) rotate(360deg);
      opacity: 0;
    }
}

/*Bienvenida*/

.datos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%; /* Opcional: ajusta al ancho deseado */
    font-family: "Glory", serif; 
}
.datos h1{
    font-weight: normal;
    font-size: 64px;
    font-weight: 200;
}

.datos .texto{
    width: 65%;
}

.datos p{
    font-weight: normal;
    font-size: 24px;
}

.datos .logics{
    font-size: 24px;
    font-weight: bold;
    color: rgb(16, 27, 48);
}

/*Funciones*/

.funciones {
    text-align: center;
    width: 100%; /* Opcional: ajusta al ancho deseado */
    font-family: "Glory", serif; 
    margin-top: 100px;
}
.funciones h1{
    font-weight: normal;
    font-size: 40px;
    text-decoration: underline;
}

.funciones .penta{
    display: flex;
    justify-content: center;
    gap: 0px;
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.329));
}
.funciones .penta div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin: 0px -20px;
	width: 272px;
	height: 276px;
	background: #ffffff;
	clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.funciones .penta div:nth-child(3){
    background: #A1A7B5;
    font-size: 30px;
    color: white;
    font-family: "Hammersmith One", serif;
    transition-delay: 200ms;
}

.funciones .penta div:nth-child(3) .Log{
    width: 100px;
    fill: rgb(255, 255, 255);
    margin-top: 100px;
}


.funciones .penta div:nth-child(2){
    margin-top: 110px;
    rotate: 180deg;
    transition-delay: 300ms;
}
.funciones .penta div:nth-child(2) p{
    font-family: "Glory", serif; 
    font-weight: light;
    font-size: 20px;
    rotate: 180deg;
    transition-delay: 300ms;
    margin: 50px 70px 2px 70px;
}
.funciones .penta div:nth-child(2) i{
    fill: rgb(19, 34, 56);
    margin: 15px;
    rotate: 180deg;
}

.funciones .penta div:nth-child(4){
    margin-top: 110px;
    rotate: 180deg;
    transition-delay: 300ms;
}

.funciones .penta div:nth-child(4) p{
    font-family: "Glory", serif; 
    font-weight: light;
    font-size: 20px;
    rotate: 180deg;
    transition-delay: 300ms;
    margin: 50px 70px 2px 70px;
}
.funciones .penta div:nth-child(4) i{
    fill: rgb(19, 34, 56);
    margin: 15px;
}

.funciones .penta div:nth-child(1){
    transition-delay: 500ms;
}

.funciones .penta div:nth-child(1) p{
    font-family: "Glory", serif; 
    font-weight: light;
    font-size: 20px;
    transition-delay: 300ms;
    margin: 10px 70px 50px 70px;
}
.funciones .penta div:nth-child(1) i{
    fill: rgb(19, 34, 56);
    margin: 70px 70px 10px 70px;
}

.funciones .penta div:nth-child(5){
    transition-delay: 500ms;
}

.funciones .penta div:nth-child(5) p{
    font-family: "Glory", serif; 
    font-weight: light;
    font-size: 20px;
    transition-delay: 300ms;
    margin: 10px 70px 50px 70px;
}
.funciones .penta div:nth-child(5) i{
    fill: rgb(19, 34, 56);
    margin: 70px 70px 10px 70px;
}

.funciones .penta div i{
    font-size: 50px;
    color: #1E3A59;
}

/*Uso*/

.uso{
    text-align: center;
    width: 100%;
    font-family: "Glory", serif; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uso h1{
    font-weight: normal;
    font-size: 40px;
    text-decoration: underline;
}

.uso p{
    font-family: 'Glory', serif;
    font-weight: 200;
    font-size: 20px;
    margin: 0;
}

.uso p i{
    font-size: 16px;
    color: #2d3038;
    margin: 0;
}

.uso p span{
    font-family: 'Hammersmith One', serif;
    font-weight: 100;
}

.guia{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.cartas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carta{
    margin: 50px;
    text-align: center;
    transition: all 1s cubic-bezier(0.7, -.5, 0.3, 1.8);
    transform-style: preserve-3d;
}

.carta:hover{
    transform: rotateY(180deg) ;
}

.front, 
.back{
    width: 250px;
    position: relative;
    top: 0;
    left: 0;
    backface-visibility: hidden;
}

.front{
    cursor: url('./img/mano.png'), auto;
    height: 400px;
    background: #212329;
    backface-visibility: hidden;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.5));

}

.front h4{
    color: #EAECEE;
    font-family: 'Hammersmith One', serif;
    font-weight: 300;
    font-size: 20px;
}

.front i{
    color: #2d3038;
    font-size: 40px;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.back{
    transform: rotateY(180deg);
    position: absolute;
    border-radius: 50px;
    background: #101924;
    height: 400px;
    filter: drop-shadow(-10px 10px 4px rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content h4{
    color: #EAECEE;
    font-family: 'Hammersmith One', serif;
    font-weight: 300;
    font-size: 20px;
}

.content i{
    color: #2d3038;
    font-size: 40px;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.content p{
    color: #c5c5c5;
    font-family: 'Glory',serif;
    font-size: 15px;
    margin: 5px 30px;
    text-align: justify;
}

.uso p:nth-child(3){
    margin-bottom: 20px;
}

.muestrame{
    width: 100px;
    height: 40px;
    background: #21232b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #EAECEE;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    cursor: url('./img/mano.png'), auto;
    transition: all 0.5s;
    font-family: 'Hammersmith One',serif;
    font-size: 16px;
}

.muestrame:hover{
    background: #355ab9;
    animation: colorChange 12s linear infinite;
    transform: scale(1.1);
    box-shadow: 0 0 9vw rgb(73, 119, 245, 0.2),
    0 0 10vw rgb(73, 119, 245, 0.4),
    0 0 18vw rgb(73, 119, 245, 0.6),
    0 0 22vw rgb(73, 119, 245, 0.8);
}

.cir{
    border-radius: 50%;
    background: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.5));
}


.parte1, .parte2{
    display: none;
    width: 30%;
    justify-content: center;
    align-items: center;
}

.parte1{
    align-items: flex-end;
}
.parte2{
    align-items: flex-start;
}

.mostrar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    transition: all 1s;
}

.guias{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}

.guias p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.cir img{
    width: 32px;
}


#biblioteca,
#diagramas{
    animation: bounceInLeft;
}
#biblioteca{
    animation-duration: 1s;
}

#diagramas{
    animation-duration: 2s;
}

#logic, 
#question{
    animation: bounceInRight;
}

#logic{
    animation-duration: 2.5s;
}

#logic .cir{
    background: linear-gradient(to left, #1A284B, #233D80);
}

#question{
    animation-duration: 3.5s;
}

/*Desarrollo*/

.desarrollo{
    text-align: center;
    width: 100%;
    font-family: "Glory", serif; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.desarrollo h1{
    font-weight: normal;
    font-size: 40px;
    text-decoration: underline;
}

.create{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.create div{
    width: 40%;
}
.create .nombre{
    text-align: justify;
    background: #212329;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 100px 100px 0px;
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.329));
}

.create .nombre  p{
    text-align: center;
    margin: 50px;
    width: 50%;
    color: white;
}

.create .bola{
    margin: 5px;
    width: 32vh;
    height: 32vh;
    background: #ffffff;
    border-radius: 1000px;
    transition: all 0.5s;
    filter: drop-shadow(-10px 10px 20px rgba(0, 0, 0, 0.486));
    display: flex;
    justify-content: center;
    align-items: center;
}

.create .bola:hover{
    transform: scale(1.1);
}

.bola i{
    font-size: 100px;
    color: #A1A7B5;
    filter: drop-shadow(-5px 5px 3px rgba(168, 168, 168, 0.486));
}

.create .lateral{
    text-align: justify;
    background: #212329;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 100px 0px 0px 100px;
    filter: drop-shadow(-5px 5px 10px rgba(0, 0, 0, 0.329));
}

.create .lateral  p{
    text-align: center;
    margin-top: 50px;
    width: 50%;
    color: white;
}

.lenguajes{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.lenguajes i{
    color: #2d3038;
    font-size: 50px;
    transition: all 800ms;
    cursor: url('./img/mano.png'), auto;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5));
}

.lenguajes i:hover{
    transform: scale(1.2);
}

.lenguajes i:nth-child(1):hover{
    color: orangered;
}

.lenguajes i:nth-child(2):hover{
    color: #254bdc;
}

.lenguajes i:nth-child(3):hover{
    color: rgb(247, 205, 19);
}

/*Acerca de*/
.acerca{
    text-align: center;
    width: 100%;
    font-family: "Glory", serif; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.acerca h1{
    font-weight: normal;
    font-size: 40px;
    text-decoration: underline;
    margin: 50px 50px 10px 50px;
}


.acerca .dispositivos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: #222222;
    width: 100vw;
    min-height: 100vh;
}

.dispositivos h1{
    margin: 0px;
    font-size: 40px;
    color: #EAECEE;
    text-decoration: none;
}

.lema{
    margin: 20px;
}

.lema span{
    font-family: "Hammersmith One", serif;
    color: #72b4ff;
    animation: colorChange 12s linear infinite;
}

.lema p{
    font-family: "Glory", serif;
    font-weight: 200;
    color: #72b4ff;
    transition-delay: 800ms;
    margin: 10px 50px;
    animation: colorChange 12s linear infinite;
}

.navegadores{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}

.navegadores i{
    font-size: 40px;
    color: #2e2e2e;
    transition: all 1s;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2),
    0px 5px 12px rgba(0, 0, 0, 0.4);
}


.navegadores i:hover{
    transform: scale(1.2);
}

.navegadores i:nth-child(1):hover{
    color: #559ce2;
    transform: scale(1.1);
    animation: colorChange 12s linear infinite;
}
.navegadores i:nth-child(2):hover{
    color: #24cc49;
    transform: scale(1.1);
    animation: colorChange 12s linear infinite;
}
.navegadores i:nth-child(3):hover{
    color: #1db5e7;
}
.navegadores i:nth-child(4):hover{
    color: #e7781d;
}
.navegadores i:nth-child(5):hover{
    color: #22a2eb;
}

.navegadores i:nth-child(6):hover{
    color: #d21e27;
}

.navegadores i:nth-child(7):hover{
    color: #f85f1b;
}


.cubos{
    animation: colorChange 12s linear infinite;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 20px 50px 20px;
    height: 70%;
    flex-wrap: wrap;
    gap: 100px;
}
.cubo{
    position: relative;
    width: 200px;
    height: 50px;
    transform-style: preserve-3d;
    animation: rodar 20s linear infinite;
}

.cubo .panel{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cubo .panel span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    background: linear-gradient(#101924,rgb(73, 119, 245));
    transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #101924;
    transform-style: preserve-3d;
    transform: rotateX(90deg) translateZ(100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top i{
    font-size: 100px;
    color: rgb(73, 119, 245);
    
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: #101924;
    transform: translateZ(-100px);
    opacity: 0.3;
    box-shadow: 0 0 9vw rgb(73, 119, 245, 0.2),
    0 0 10vw rgb(73, 119, 245, 0.4),
    0 0 18vw rgb(73, 119, 245, 0.6),
    0 0 22vw rgb(73, 119, 245, 0.8);
}

.multimedia{
    text-align: center;
    width: 100%;
    font-family: "Glory", serif; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.multimedia h1{
    font-weight: normal;
    font-size: 40px;
    text-decoration: underline;
    margin: 50px 50px 10px 50px;
}

/*Footer*/

.footer{
    text-align: center;
    width: 100%;
    font-family: "Glory", serif; 
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #212329;
    min-height: 100px;
    box-shadow: 0px -9px 10px rgba(0, 0, 0, 0.5);
}

.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}

.social i{
    color: #3a3e49;
    font-size: 30px;
    margin: 20px;
    transition: all 0.5s;
}

.social i:hover{
   transform: translateY(-10px) scale(1.2);
}

.social i:nth-child(1):hover,
.social i:nth-child(7):hover{
    color: rgb(255, 255, 255);   
}

.social i:nth-child(2):hover{
    color: rgb(25, 99, 209);
}

.social i:nth-child(3):hover{
    color: rgb(42, 127, 255); 
    animation: colorChange 5s linear infinite;  
}

.social i:nth-child(4):hover{
    animation: tiktok 1s alternate infinite;  
}

.social i:nth-child(5):hover{
    color: #7289da;  
}

.social i:nth-child(6):hover{
    color: #c4302b;  
}

.pie img{
    margin: 50px 20px 30px 20px;
    filter: drop-shadow(-3px 9px 9px rgb(0, 0, 0));
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    margin: 30px 0;
    padding: 0;
}

.links li{
    margin: 10px;
    list-style: none;
    width: 80px; 
    text-align: center;
}

.links li a{
    text-decoration: none;
    color: #7d839c;
    font-weight: 500;
    font-size: 20px;
}

.pie p{
    color: #b1b6ca;
}

.pie img{
    filter: grayscale(120%);
    transition: all 0.5s;
    opacity: 50%;
}

.pie img:hover{
    transform: scale(1.5);
    opacity: 100%;
    filter: grayscale(0%) drop-shadow(0px 5px 20px rgb(24, 91, 235));
}

/*Animaciones*/

@media (max-width: 1532px){
    .funciones .penta{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
    }

    .funciones .penta div{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        position: relative;
        margin: 25px;
        width: 342px;
        height: 344px;
        background: #ffffff;
        clip-path: polygon( 50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%);
    }

    .funciones .penta div:nth-child(2){
        rotate: 0deg;
        margin: 25px;
    }
    
    .funciones .penta div:nth-child(4){
        rotate: 0deg;
        margin: 25px;
    }
    
    .funciones .penta div:nth-child(2) p{
        font-family: "Glory", serif; 
        font-size: 20px;
        rotate: 0deg;
        transition-delay: 300ms;
        margin: 50px 70px 2px 70px;
    }

    .funciones .penta div:nth-child(2) i{
        transform: rotate(180deg);
    }

    .funciones .penta div:nth-child(4) p{
        font-family: "Glory", serif; 
        font-size: 20px;
        rotate: 0deg;
        transition-delay: 300ms;
        margin: 50px 70px 2px 70px;
    }

}

@media (max-width: 1210px) {
    logo img {
        height: 0;
        filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
    }
      
    h2 {
        font-family: "Hammersmith One", serif;
        font-size: 64px;
        font-weight: normal;
        color: black;
        text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.39);
        margin: 0;
      
    } 
    .datos p{
        font-weight: normal;
        font-size: 24px;
        text-align: justify;
    }
    .create{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .create div{
        width: 60%;
    }
    .create .nombre,
    .create .lateral{
        position: relative;
        text-align: justify;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .create .nombre  p{
        text-align: justify;
        margin: 30px;
        width: 100%;
        font-size: 12px;
    }

    .create .lateral  p{
        text-align: center;
        margin-top: 20px;
        width: 50%;
    }
    
    .lenguajes{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
}

@media (max-width: 935px){
    .header .data,
    .header .busqueda{
        display: none;
    }

    nav{
        z-index: 100;
        position: fixed;
        top: 12%;
        right: 47%;
        cursor: url('./img/mano.png'), auto;
        transform: rotate(-45deg);
    }

    .nav-content .toggle-btn{
        font-size: 30px;
        z-index: 101;
         cursor: url('./img/mano.png'), auto;
        transform: rotate(-45deg);
        background: linear-gradient(to left, #1A284B, #233D80);
        color: white;
    }
    
    nav.open .nav-content .toggle-btn{
        transform: rotate(-135deg);
    }
    
    nav.open .nav-content span{
        transition: all 1s;
        transform: rotate(calc(var(--i) * (360deg/8))) translateX(100px);
    }
    
    .nav-content span a{
        text-decoration: none;
        transform: rotate(45deg);
    }
}

@media (max-width: 600px){
    .acerca .dispositivos{
        padding-top: 100px;
        padding-bottom: 200px;
    }
    .lema p{
        margin-bottom: 50px;
    }
    .cubos{
        margin: 50px 20px 20px 20px;
    }

    .guia{
        flex-direction: column;
    }
}
@media (max-width: 404px) {
    logo img {
        height: 0;
        filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5));
    }
      
    h2 {
        font-family: "Hammersmith One", serif;
        font-size: 64px;
        font-weight: normal;
        color: black;
        text-shadow: -5px 5px 5px rgba(0, 0, 0, 0.39);
        margin: 0;
      
    } 
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*Animaciones*/

.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: scale(0);
}
.show{
    opacity: 1;
    transition: all 1s;
    filter: blur(0px);
    transform: scale(1);
}

@keyframes deslizar{
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes deslizarD{
    from{
        opacity: 0;
        transform: translateX(100px);
    }
    
    to{
        opacity: 1;
        transform: translateX(0px);
    }

}

@keyframes escala{
    from{
        opacity: 0;
        transform: translateY(300px);
    }
    
    to{
        opacity: 1;
        transform: translateY(0px);
    }

}


.nombre{
    view-timeline-name: --nombre;
    view-timeline-axis: block;

    animation-timeline: --nombre;
    animation-name: deslizar;

    animation-range: entry 15% cover 30%; 
    animation-fill-mode: both;
}

.lateral{
    view-timeline-name: --lateral;
    view-timeline-axis: block;

    animation-timeline: --lateral;
    animation-name: deslizarD;

    animation-range: entry 15% cover 30%; 
    animation-fill-mode: both;
}

.cont{
    view-timeline-name: --caja;
    view-timeline-axis: block;

    animation-timeline: --caja;
    animation-name: escala;

    animation-range: entry 30% cover 40%; 
    animation-fill-mode: both;
}

.conteiner{
    view-timeline-name: --caja;
    view-timeline-axis: block;

    animation-timeline: --caja;
    animation-name: escala;

    animation-range: entry 30% cover 40%; 
    animation-fill-mode: both;
}

.guia{
    view-timeline-name: --lateral;
    view-timeline-axis: block;

    animation-timeline: --lateral;
    animation-name: escala;

    animation-range: entry 20% cover 40%; 
    animation-fill-mode: both;
}

@keyframes rodar{
    0%{
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%{
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

@keyframes colorChange{
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

@keyframes tiktok{
    0%{
        color: #ff0050;
    }

    50%{
        color: #000000;
    }

    100%{
        color: #00f2ea;
    }
}
